<footer class="site-footer">
    <div class="container">
        <div class="footer-links">
            <a href="/terms-of-service">Terms of Service</a>
            <a href="/privacy-policy">Privacy Policy</a>
            <a href="https://twitter.com/CopernicSpace" target="_blank">Twitter</a>
            <a href="https://linkedin.com/company/CopernicSpace" target="_blank">LinkedIn</a>
            <a href="https://discord.com/invite/CopernicSpace" target="_blank">Discord</a>
        </div>
        <div class="footer-contact">
            <p>Contact us: <a href="mailto:contact@copernicspace.com">contact@copernicspace.com</a></p>
        </div>
    </div>
</footer>


