<header class="site-header">
    <div class="container">
        <div class="site-logo">
            <a href="{{@site.url}}"><img src="{{asset "images/logo.png"}}" alt="Copernic Space Logo"></a>
        </div>
        <nav class="site-nav">
            <ul>
                <li><a href="{{@site.url}}">Home</a></li>
                <li><a href="{{@site.url}}/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>



